.main {
  height: calc(100% - var(--nav-height-mobile));
  background-color: var(--color-background);
  box-sizing: border-box;

  @media screen and (display-mode: standalone){
    padding-top: 40px;
  }
  @media screen and (min-width: 640px){
    height: calc(100% - var(--nav-height));
  }
}

.withActiveTrack{
  height: calc(100% - var(--nav-height-mobile) - var(--player-height));
  @media screen and (min-width: 640px){
    height: calc(100% - var(--nav-height) - var(--player-height));
  }
}