.options{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  @media screen and (min-width: 640px){
    &:hover{
      background: var(--color-background);
    }
  }
  &__dot{
    display: block;
    height: 4px;
    width: 4px;
    background: var(--color-active);
    border-radius: 50%;
    position: relative;

    &:before{
      content: "";
      position: absolute;
      display: block;
      height: 4px;
      width: 4px;
      background: var(--color-active);
      border-radius: 50%;
      left: -7px;
    }
    &:after{
      content: "";
      position: absolute;
      display: block;
      height: 4px;
      width: 4px;
      background: var(--color-active);
      border-radius: 50%;
      right: -7px;
    }
  }
}
