.track {
  border: 1px solid #444444;
  border-radius: 0.3rem;
  display: flex;
  height: 46px;
  align-items: center;
  padding: 0 5px;
  justify-content: space-between;
  background: var(--bg-soft-color-dark-theme);
  &__btn{
    flex: 30px 0.5;
  }
  &__img{
    width: 40px;
    height: 40px;
    flex: 40px 0.5;
    img{
      border-radius: 5px;
    }
  }
  &__info{
    flex: 100px 6;
    &__trackName{
      font-weight: bold;
    }
    &__artistName{
      font-size: 13px;
    }
  }
  &__duration{
    flex: 30px 0.5;
  }
}