.track {
  border: 1px solid black;
  border-radius: 0.3rem;
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0 5px;
  justify-content: space-between;
  &__btn{
    flex: 30px 0.5;
  }
  &__img{
    width: 24px;
    height: 24px;
    flex: 30px 0.5;
  }
  &__info{
    flex: 100px 6;
  }
  &__duration{
    flex: 30px 0.5;
  }
}