
.root{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  &__btns{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    padding-bottom: 100px;
    gap: 2rem;
  }
  &__volume{
    width: 70%;
  }
}