.root{
  padding: 1rem;
}

.auth{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  &__logout{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    p {
      color: var(--color-link);
    }
  }
  &__profilePhoto{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--color-background-soft);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    p{
      font-size: 30px;
      font-weight: bold;
      color: var(--color-text);
    }
  }
  &__name{
    font-size: 20px;
  }
  &__email{
    font-size: 14px;
    color: var(--color-text-soft);
  }
  &__addPhoto{
    width: 100%;
    &_btn{
      background: var(--color-background-soft);
      display: flex;
      align-items: center;
      height: 36px;
      width: 100%;
      border-radius: 0.5rem;
      color: var(--color-link);
      padding-left: 1rem;
      gap: 1rem;
    }
  }
}

.notAuth{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding-top: 150px;
}