.root{
  color: var(--color-text);
  align-self: flex-start;
  margin-left: 1.5rem;
  &__name{
    font-size: 22px;
    margin-bottom: 0.25rem;
    font-weight: bold;
  }
  &__artist{
    font-size: 14px;
  }
}