.stepper{
  display: flex;
  justify-content: space-between;
  &__item{
   position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    p {
      color: var(--color-text-soft);
      text-align: center;
      font-size: 12px;
      margin-top: 0.25rem;
      @media screen and (max-width: 640px){
        width: 80px;
      }
    }
    &:not(:first-child)::before{
      content: '';
      background: lightgray;
      position: absolute;
      width: 100%;
      height: 3px;
      right: 50%;
      top: calc(33% - 3px);
      transform: translateY(-50%);
    }
  }
  &__step{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    background-color: #cccccc;
    border-radius: 50%;
    color: white;
    transition: all .3s;
  }
}

.active .stepper__step {
  background-color: dodgerblue;
}
.complete .stepper__step {
  background-color: #53a653;
}

.active p {
  font-weight: bold;
  color: var(--color-text);
}

.complete p {
  color: var(--color-text-soft);
  font-weight: 500;
}

.complete:not(:first-child)::before, .active:not(:first-child)::before{
  background-color: #53a653;
  transition: all .3s;
}