.wrapper{
  max-width: var(--wrapper-width);
  height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text);
  overflow: hidden;
  @media screen and (display-mode: standalone){
    height: calc(100vh);
  }
}
