.button{
  padding: 12px 25px;
  color: var(--color-background);
  background-color: var(--btn-color-background);
  border-radius: 0.5rem;
  font-size: 14px;
  border: none;
  &:disabled {
    background-color: var(--color-background);
    color: var(--color-text-soft);
  }
}