.form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    &__input {
         justify-content: space-between;
         align-items: center;
        label {
            padding-bottom: 5px;
        }
        //input {
        //    box-sizing: border-box;
        //    width: 100%;
        //    background: var(--bg-soft-color-dark-theme);
        //    color: var(--text-color-dark-theme);
        //    &::placeholder{
        //        color: #a8a8a8;
        //    }
        //}
        textarea {
            flex: 3;
        }
    }
}
