.form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    &__input {
         justify-content: space-between;
         align-items: center;
        label {
            padding-bottom: 5px;
        }
        input {
            box-sizing: border-box;
            width: 100%;
        }
        textarea {
            flex: 3;
        }
    }
}
