.root {
    background: var(--color-background-soft);
    display: flex;
    align-items: center;
    height: 36px;
    width: 100%;
    border-radius: 0.5rem;
    color: var(--color-text);
    padding: 0 1rem;
    justify-content: space-between;
    gap: 1rem;
    @media screen and (min-width: 640px){
        cursor: pointer;
    }
    &__switch {
        width: 40px;
        height: 20px;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        transition: .3s;
        padding-right: 3px;
        padding-left: 2px;
        user-select: none;

    }
    &__ball {
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        transition: .3s;
    }
    &__sun {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ffdc00;
    }
}


