.player {
  height: var(--player-height);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: var(--color-background-player);
  position: absolute;
  bottom: var(--nav-height-mobile);
  border-top: 1px solid var(--color-background-soft);
  @media screen and (min-width: 640px){
    bottom: 0;
  }
  &__controls{
    @media screen and (min-width: 640px){
      margin-right: 1rem;
    }

  }
  &__trackInfo{
    flex: auto;
    color: var(--color-text);
    display: flex;
    justify-content: center;
    overflow: hidden;
    @media screen and (min-width: 640px){
      min-width: 190px;
      justify-content: flex-start;
    }

  }
  &__progress{
    display: none;
    @media screen and (min-width: 640px){
      width: 100%;
      display: block;
    }
  }
  &__volume{
    display: none;
    @media screen and (min-width: 640px){
      display: block;
      min-width: 100px;
    }
  }
  &__closeBtn{
    cursor: pointer;
    color: var(--color-text);
    padding: 5px;
    border-radius: 50%;
  }
}
