.track {
  border-radius: 0.3rem;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background: var(--color-background);
  color: var(--color-text);
  gap: 0.5rem;
  &__info{
    flex: auto;
  }
}