.imageBlur{
  position: absolute;
  width: calc(100% + 60px);
  max-width: 600px;
  aspect-ratio: 1/1;
  top: -130px;
  left: -30px;
  z-index: 0;
  &:before {
    position: absolute;
    content: '';
    background: inherit;
    height: calc(100% + 60px);
    width: 100%;
    left: 0;
    top: 0;
    filter: blur(15px);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

.image{
  border-radius: 1rem;
  width: 80%;
  aspect-ratio: 1/1;
  overflow: hidden;
  max-width: 400px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}